/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

body{
    
    background-image: url(cool-background.png);
      /* Para dejar la imagen de fondo centrada, vertical y
    
    horizontalmente */
    
    background-position: center center;
    
    /* Para que la imagen de fondo no se repita */
    
    background-repeat: no-repeat;
    
    /* La imagen se fija en la ventana de visualización para que la altura de la imagen no supere a la del contenido */
    
    background-attachment: fixed;
    
    /* La imagen de fondo se reescala automáticamente con el cambio del ancho de ventana del navegador */
    
    background-size: cover;
    
    /* Se muestra un color de fondo mientras se está cargando la imagen
    
    de fondo o si hay problemas para cargarla */
    
    background-color: cadetblue;
}
